@use '@angular/material' as mat;
@import 'variable';

.token-card{

}

.card-header{

    display: flex;
    flex-wrap: nowrap;
    background-color:mat.get-color-from-palette(mat.$grey-palette, 700);
    // mix-blend-mode: color-burn;
    padding: 2px 4px;
    border-radius: 4px 4px 0 0 ;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: nowrap;
    font-size: x-large;    
    width: 288px;


}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}
