<div class="token-counter">

    <div class="flex-row" style="flex-wrap: nowrap;">
        <h1 style="padding-right:1em;">{{counterName}}</h1>
        <button mat-mini-fab  (click)="removeCounter()" >
            <mat-icon>remove</mat-icon>
        </button>
    </div>
    <div class="flex-row" style="flex-wrap: nowrap;">
        <button mat-icon-button (click)="substract()">
            <mat-icon>remove</mat-icon>
        </button>
        <div>
            <h2>{{count}}</h2>
        </div>
        <button mat-icon-button (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>