<div class="all-item">
    <div class="flex-column">
        <div class="item">STR</div>
        <div class="item small">{{monster.strength}}</div>
        <div class="item">{{calculateModifier(monster.strength)}}</div>
    </div>
    <div class="flex-column" style="justify-items: center;">
        <div class="item">DEX</div>
        <div class="item small">{{monster.dexterity}}</div>
        <div class="item">{{calculateModifier(monster.dexterity)}}</div>
    </div>
    <div class="flex-column">
        <div class="item">CON</div>
        <div class="item small">{{monster.constitution}}</div>
        <div class="item">{{calculateModifier(monster.constitution)}}</div>
    </div>
    <div class="flex-column">
        <div class="item">INT</div>
        <div class="item small">{{monster.intelligence}}</div>
        <div class="item">{{calculateModifier(monster.intelligence)}}</div>
    </div>
    <div class="flex-column">
        <div class="item">WIS</div>
        <div class="item small">{{monster.wisdom}}</div>
        <div class="item">{{calculateModifier(monster.wisdom)}}</div>
    </div>
    <div class="flex-column">
        <div class="item">CHA</div>
        <div class="item small">{{monster.charisma}}</div>
        <div class="item">{{calculateModifier(monster.charisma)}}</div>
    </div>
    
</div>