<div class="token-manager">
  <h1>Token Manager</h1>
  <div class="flex-row">
    <form>
      <mat-form-field>
        <mat-label>Token pool name</mat-label>
        <input matInput 
          type="text"
          aria-label="Token pool name"
          placeholder="Combat Actions"
          [formControl]="tokenNameInputCtrl"
          [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-stroked-button color="primary" (click)="ajouterToken()">ajouter token</button>
  </div>

  <div class="flex-row">
    @for (counter of counters; track counter) {
      <div style="width: min-content;">
        <app-token-counter [counterName]="counter" (removeCounterParent)="removeCounter($event)">
        </app-token-counter>
      </div>
    } @empty {
      <div>No Counters</div>
    }
  </div>
</div>