<div id="tokenManager" [class]="tokenManagerClass">

  @if(showManager){
  <div class="flex-column" style="gap: 10px;">
    <h1>Token Manager</h1>

    <div style="padding-left: 1em;">
      <form>
        <mat-form-field>
          <mat-label>Token pool name</mat-label>
          <input matInput type="text" aria-label="Token pool name" placeholder="Combat Actions"
            [formControl]="tokenNameInputCtrl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <div>
          <button mat-stroked-button color="primary" (click)="ajouterToken()">ajouter token</button>
        </div>
      </form>
    </div>
  </div>
  }
  <div >
    <div cdkDropList id="'asdf" cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      @for (counter of counters; track counter) {
      <div cdkDrag style="display: flex;" class="example-box">
        <app-token-counter [counterName]="counter" (removeCounterParent)="removeCounter($event)">
        </app-token-counter>
      </div>
      } @empty {
      <div>No Counters</div>
      }
    </div>
  </div>
</div>