<main class="mat-app-background" style="height: 100%;">
  <div class="flex-row">
    <button mat-stroked-button color="primary" routerLink="/counters" routerLinkActive="activebutton" >counters</button>
    <button mat-stroked-button color="primary" routerLink="/player-turn-order" routerLinkActive="activebutton">player turn order</button>
    <button mat-stroked-button color="primary" routerLink="/charts" routerLinkActive="activebutton">charts</button>
    <button mat-stroked-button color="primary" routerLink="/dice-roller" routerLinkActive="activebutton">dice roller</button>
  </div>
  <router-outlet />
</main>
