<main class="mat-app-background" style="height: 100%;">
  <div class="flex-row">
    <button mat-stroked-button color="primary" routerLink="/counters">counters</button>
    <button mat-stroked-button color="primary" routerLink="/player-turn-order">player turn order</button>
    <!-- <button mat-stroked-button color="primary" routerLink="/charts" routerLinkActive="activebutton">charts</button> -->
    <button mat-stroked-button color="primary" routerLink="/dice-roller">dice roller</button>
    <button mat-stroked-button color="primary" routerLink="/dual-roller">daggerheart roller</button>
  </div>
  <router-outlet />
</main>