<div class="turn-order" class="flex-row">

  <form>
    <mat-form-field>
      <mat-label>Token pool name</mat-label>
      <input matInput 
            type="text" 
            aria-label="Token pool name" 
            placeholder="Combat Actions"
        [formControl]="playerNameInputCtrl" 
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (playerName of filteredOptions | async; track playerName) {
        <mat-option [value]="playerName">{{playerName}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="ajouterPlayer()">Ajouter player</button>
  </form>

  <div style="display: grid;" class="example-container">
    <div 
      cdkDropList 
      id="players" 
      class="example-list"
      cdkDropListOrientation="vertical" 
      [cdkDropListData]="players"
      (cdkDropListDropped)="drop($event)">
      @for (player of players; track player) {
      <div class="example-box" cdkDrag [cdkDragData]="player">{{player}}</div>
      } @empty {
      <div>No Counters</div>
      }
    </div>
  </div>


</div>