<div class="page">
  <div class="upper-spell-row">
    <div>
      <div class="h3">Level</div>
      <div>{{ spell.level }}</div>
    </div>
    <div>
      <div class="h3">Duration</div>
      <div>{{ spell.duration }}</div>
    </div>
    <div>
      <div class="h3">Casting Time</div>
      <div>{{ spell.casting_time }}</div>
    </div>
    <div>
      <div class="h3">Duration</div>
      <div>{{ spell.duration }}</div>
    </div>
    <div>
      <div class="h3">Range</div>
      <div>{{ spell.range }}</div>
    </div>
    @if(spell.area_of_effect) {
    <div>
      <div class="h3">Area Of Effect</div>
      <div>{{ spell.area_of_effect.size }}</div>
      <div>{{ spell.area_of_effect.type }}</div>
    </div>
    } @if(spell.attack_type) {
    <div>
      <div class="h3">Attack Type</div>
      <div>{{ spell.attack_type }}</div>
    </div>
    } @if(spell.classes) {
    <div>
      <div class="h3">Class</div>
      <div class="flex-column" style="column-gap: 4px">
        @for(class of spell.classes; track class) {
        <div>
          <div>{{ class.name }}</div>
        </div>
        }
      </div>
    </div>
    } @if(spell.ritual || spell.concentration) {
    <div>
      @if(spell.ritual){
      <div class="yellow" style="align-self: center">Ritual</div>
      } @if(spell.concentration){
      <div class="yellow" style="align-self: center">Concentration</div>
      }
    </div>
    }
  </div>
  <hr />

  <div class="flex-row" style="column-gap: 4px; align-items: end">
    @if(spell.material) {
    <div class="h3">Material</div>
    <div class="flex-row" style="padding: 0; column-gap: 4px; align-items: end">
      <div class="yellow">{{ spell.material }}</div>
    </div>
    }
  </div>

  <div class="flex-row" style="column-gap: 4px; align-items: end">
    @if(spell.damage) {
    <div class="h3">Damage</div>
    <div class="flex-row" style="padding: 0; column-gap: 4px; align-items: end">
      @if(spell.damage.damage_type){
      <div class="dc-description">{{ spell.damage.damage_type.name }}</div>
      } @if(getDamage(spell)){
      <div class="dc-description">{{ getDamage(spell) }}</div>
      }
    </div>
    }
  </div>

  <div class="flex-row" style="column-gap: 4px; align-items: end">
    @if(spell.dc) {
    <div class="h3">DC</div>
    <div class="flex-row" style="padding: 0; column-gap: 4px; align-items: end">
      <div class="dc-description">
        @if(spell.dc.dc_success!=='none') { On Sucess
        {{ spell.dc.dc_success }}, } Ability save
        {{ spell.dc.dc_type.name }}@if(spell.dc.desc) {, {{ spell.dc.desc }} }
      </div>
    </div>
    }
  </div>
  <markdown [data]="spell.desc | markdownFormatter"></markdown>

  <!-- <div class="desc">
    @for(desc of spell.desc; track $index) {
    <markdown [data]="desc"></markdown>
    }
  </div> -->
</div>
