@import 'variable';

.header{
    display: flex;
    flex-direction: row;
    column-gap: $pad-medium;
}

.condition{
    flex-direction: column;
}

.section {
    padding-top: $pad-medium;
}

.card-back{
    background-color: $color-card-darker;
}


.grid-section{
    display: grid;
    padding-top: $pad-small;
    grid-template-columns: 1fr 1fr;
}

.monster-name{
    color: $color-warn;
    font-size: x-large;
}
.value-item{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: $color-accent;
}

.primary{
    color: $color-primary;
}

.header{
    column-gap: $pad-xlarge;
    justify-content: space-between;
    
}
