/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'variable';

@include mat.core();
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
}

.txt-primary {
    color: mat.get-color-from-palette($my-primary, 200);
}

.txt-red {
    color: mat.get-color-from-palette($my-warn, 600);
}

.txt-green {
    color: mat.get-color-from-palette($green-palette, 600);
}

.txt-accent {
    color: mat.get-color-from-palette($my-accent, 200);
}

.txt-fear {
    color: mat.get-color-from-palette($fear-palette, 200);
}

.txt-accent-darker {
    color: mat.get-color-from-palette($my-accent, 900);
}

.txt-darker {
    color: mat.get-color-from-palette($my-gray-palette, 600);
}

.page {
    padding: 2em;
}

img {
    width: 48px;
    height: 48px;
    padding: 8px 0 0 8px;
}

::ng-deep .mat-dialog-container {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), mat.get-color-from-palette($my-accent, 200), rgba(0, 0, 0, 0));
}
.h2{
    color: $color-primary;
    font-size: large;
}
.h3{
    padding-top: $pad-small;
    color: $color-primary;
    font-size: medium;
}

.warn{
    color: mat.get-color-from-palette($my-warn, 300);
}
.yellow{
    color: $color-yellow;
}
.card-back{
    background-color: $color-card-darker;
}

strong {
    color: $color-yellow;
    font-weight: 400;
}
p h5 {
    margin: $pad-medium 0;
}
.poison{
    color: $color-acid;

}
.acid  {
    color: $color-acid;
}
.bludgeoning {
    color: $color-physical;
}
.piercing{
    color: $color-physical;
} 
.slashing{
    color: $color-physical;
}
.force{
    color: $color-fire;
}
.fire{
    color: $color-fire;
}
.lightning {
    color: $color-lightning;
}
.cold {
    color: $color-lightning;
}
.necro {
    color: $color-purple;
}
.psychic {
    color: $color-purple;
}
.thunder{
    color: $color-purple;
}

.thunder{
    color: $color-purple;
}
.radiant {
    color: $color-yellow;
}
