/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// @include mat.core();
@use '@angular/material' as mat;

@include mat.core();
$my-primary: mat.define-palette(mat.$cyan-palette, 500);
$my-accent: mat.define-palette(mat.$lime-palette, A100, A200, A700);
$my-warn: mat.define-palette(mat.$red-palette, A100, A200, A700);
$gray-palette:mat.define-palette(mat.$grey-palette, A100, A200, A700);
$fear-palette:mat.define-palette(mat.$purple-palette, A100, A200, A700);
$green-palette:mat.define-palette(mat.$green-palette, A100, A200, A700);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn

 ),
 typography: mat.define-typography-config(),
 density: 2,
));
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    padding: 0 5px 5px 0;
}

.txt-primary{
    color:mat.get-color-from-palette($my-primary, 200);
}
.txt-red{
    color:mat.get-color-from-palette($my-warn, 600);
}
.txt-green{
    color:mat.get-color-from-palette($green-palette, 600);
}
.txt-accent{
    color:mat.get-color-from-palette($my-accent,200);
}
.txt-fear{
    color:mat.get-color-from-palette($fear-palette,200);
}
.txt-accent-darker{
    color:mat.get-color-from-palette($my-accent, 900);
}
.txt-darker{
    color:mat.get-color-from-palette($gray-palette, 600);
}
.page{
    padding: 2em;
}
img{
    width:48px;
    height:48px;
    padding: 8px 0 0 8px;
}

