<mat-card>
        
    <mat-card-header class="card-header">
        <div class="card-header">
            <div class="truncate">{{counterName}}</div>
            <div>
                <button mat-stroked-button (click)="removeCounter()" color="warn">
                    remove
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        
        <div class="flex-row" style="flex-wrap: nowrap; justify-content: space-evenly; padding-top: 16px;">
            <div style="align-self: center;">
                <button mat-stroked-button (click)="substract()" color="warn">
                    -1
                </button>
            </div>
            <div style="font-size: xx-large;">
                {{storedToken.amount}}
            </div>
            <div style="align-self: center;">
                <button mat-stroked-button (click)="add()" color="accent">
                    +1
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>